<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=eHRM_JavaResearching;integratedSecurity=true;</property>
        <property name="hibernate.default_schema">dbo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.thienhoang.ehrm.model.MasterDataTypeLanguages" />
        <mapping class="com.thienhoang.ehrm.model.Units" />
        <mapping class="com.thienhoang.ehrm.model.MasterDataTypes" />
        <mapping class="com.thienhoang.ehrm.model.TripTypes" />
        <mapping class="com.thienhoang.ehrm.model.LeaveTypes" />
        <mapping class="com.thienhoang.ehrm.model.UserModuleRoles" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeAttachmentFiles" />
        <mapping class="com.thienhoang.ehrm.model.Languages" />
        <mapping class="com.thienhoang.ehrm.model.LeaveEmployeeBalances" />
        <mapping class="com.thienhoang.ehrm.model.PersonalTargets" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeDisciplines" />
        <mapping class="com.thienhoang.ehrm.model.RoleModuleRights" />
        <mapping class="com.thienhoang.ehrm.model.BudgetedConfig" />
        <mapping class="com.thienhoang.ehrm.model.TaWorkingShifts" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeAssignments" />
        <mapping class="com.thienhoang.ehrm.model.ModuleLanguages" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeAddresses" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeIncomeStats" />
        <mapping class="com.thienhoang.ehrm.model.EmployeePreviewjob" />
        <mapping class="com.thienhoang.ehrm.model.RoleApprovalLevel" />
        <mapping class="com.thienhoang.ehrm.model.TimeSheetHistories" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeIncomeTotalStats" />
        <mapping class="com.thienhoang.ehrm.model.Locations" />
        <mapping class="com.thienhoang.ehrm.model.MasterDataLanguages" />
        <mapping class="com.thienhoang.ehrm.model.TimeSheets" />
        <mapping class="com.thienhoang.ehrm.model.TripLocationProjects" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeFiles" />
        <mapping class="com.thienhoang.ehrm.model.TripcostLocations" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeEducationLevels" />
        <mapping class="com.thienhoang.ehrm.model.TaOvertimeSetting" />
        <mapping class="com.thienhoang.ehrm.model.TmpEmployeeIncomeTotalStats" />
        <mapping class="com.thienhoang.ehrm.model.Taxes" />
        <mapping class="com.thienhoang.ehrm.model.TaApprovalTypes" />
        <mapping class="com.thienhoang.ehrm.model.OutBreakRequestHistories" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeWages" />
        <mapping class="com.thienhoang.ehrm.model.UserLogs" />
        <mapping class="com.thienhoang.ehrm.model.ProjectDefaults" />
        <mapping class="com.thienhoang.ehrm.model.PublicHolidays" />
        <mapping class="com.thienhoang.ehrm.model.TripRequestHistories" />
        <mapping class="com.thienhoang.ehrm.model.EmployeePhones" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeRelatives" />
        <mapping class="com.thienhoang.ehrm.model.FinancialYears" />
        <mapping class="com.thienhoang.ehrm.model.LeaveCoefficientLeaveTypes" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeKpi" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeWorkbooks" />
        <mapping class="com.thienhoang.ehrm.model.ExchangeRates" />
        <mapping class="com.thienhoang.ehrm.model.TaOvertimeSchedules" />
        <mapping class="com.thienhoang.ehrm.model.PerformanceAssessments" />
        <mapping class="com.thienhoang.ehrm.model.TripReimbursementAmount" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeTaxes" />
        <mapping class="com.thienhoang.ehrm.model.ApprovalLevels" />
        <mapping class="com.thienhoang.ehrm.model.LeaveCoefficients" />
        <mapping class="com.thienhoang.ehrm.model.PdfFile" />
        <mapping class="com.thienhoang.ehrm.model.OtTravel" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeManagers" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeEmails" />
        <mapping class="com.thienhoang.ehrm.model.EmailConfig" />
        <mapping class="com.thienhoang.ehrm.model.TaTimekeepers" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeKaizenAwards" />
        <mapping class="com.thienhoang.ehrm.model.LeaveRequests" />
        <mapping class="com.thienhoang.ehrm.model.Incomes" />
        <mapping class="com.thienhoang.ehrm.model.UserRoles" />
        <mapping class="com.thienhoang.ehrm.model.LeaveCarryForwardRequests" />
        <mapping class="com.thienhoang.ehrm.model.Modules" />
        <mapping class="com.thienhoang.ehrm.model.PerformanceAssessmentHistories" />
        <mapping class="com.thienhoang.ehrm.model.AssessmentCriterias" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeMboRecords" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeUnits" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeDependants" />
        <mapping class="com.thienhoang.ehrm.model.ApprovalRoles" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeWorkingDays" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeRanks" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeWorkingTitles" />
        <mapping class="com.thienhoang.ehrm.model.Hierarchicals" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeAccounts" />
        <mapping class="com.thienhoang.ehrm.model.ModuleRights" />
        <mapping class="com.thienhoang.ehrm.model.RoleDepartments" />
        <mapping class="com.thienhoang.ehrm.model.IncomeConfigs" />
        <mapping class="com.thienhoang.ehrm.model.UserUnitRights" />
        <mapping class="com.thienhoang.ehrm.model.LogTimeSheet" />
        <mapping class="com.thienhoang.ehrm.model.ManagerOnsides" />
        <mapping class="com.thienhoang.ehrm.model.TripLocations" />
        <mapping class="com.thienhoang.ehrm.model.VariableIntermediates" />
        <mapping class="com.thienhoang.ehrm.model.LeaveCarryForwardRequestHistories" />
        <mapping class="com.thienhoang.ehrm.model.LeaveRequestHistories" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeIncomes" />
        <mapping class="com.thienhoang.ehrm.model.Users" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeMissions" />
        <mapping class="com.thienhoang.ehrm.model.TaMealTimeSetting" />
        <mapping class="com.thienhoang.ehrm.model.TaWorkingSchedules" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeHierarchicals" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeEducations" />
        <mapping class="com.thienhoang.ehrm.model.PersonalTargetHistories" />
        <mapping class="com.thienhoang.ehrm.model.TaWorkingTypes" />
        <mapping class="com.thienhoang.ehrm.model.AprovalTripcosts" />
        <mapping class="com.thienhoang.ehrm.model.OvertimeTypes" />
        <mapping class="com.thienhoang.ehrm.model.Projects" />
        <mapping class="com.thienhoang.ehrm.model.OutBreakTypes" />
        <mapping class="com.thienhoang.ehrm.model.TripCosts" />
        <mapping class="com.thienhoang.ehrm.model.TripRequests" />
        <mapping class="com.thienhoang.ehrm.model.MasterDatas" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeCertificate" />
        <mapping class="com.thienhoang.ehrm.model.TaEmployeeTimesheets" />
        <mapping class="com.thienhoang.ehrm.model.Reasons" />
        <mapping class="com.thienhoang.ehrm.model.Employees" />
        <mapping class="com.thienhoang.ehrm.model.Periods" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeIncomeTaxStats" />
        <mapping class="com.thienhoang.ehrm.model.LeaveTypeCountries" />
        <mapping class="com.thienhoang.ehrm.model.TaShiftChangeSetting" />
        <mapping class="com.thienhoang.ehrm.model.OutBreakOvertime" />
        <mapping class="com.thienhoang.ehrm.model.ReviewTimeConfig" />
        <mapping class="com.thienhoang.ehrm.model.Outsides" />
        <mapping class="com.thienhoang.ehrm.model.TaOvertimeSchedulesHistories" />
        <mapping class="com.thienhoang.ehrm.model.TaEmployeeOvertimes" />
        <mapping class="com.thienhoang.ehrm.model.TaWorkingCalendars" />
        <mapping class="com.thienhoang.ehrm.model.IncomeModels" />
        <mapping class="com.thienhoang.ehrm.model.LeaveTypesetting" />
        <mapping class="com.thienhoang.ehrm.model.UserModuleRights" />
        <mapping class="com.thienhoang.ehrm.model.LeaveCoefficientHierarchicals" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeContracts" />
        <mapping class="com.thienhoang.ehrm.model.Periodicities" />
        <mapping class="com.thienhoang.ehrm.model.EmployeeLanguage" />
        <mapping class="com.thienhoang.ehrm.model.ProjectMms" />
        <mapping class="com.thienhoang.ehrm.model.OutBreakRequests" />
        <mapping class="com.thienhoang.ehrm.model.TaEmployeeLateInEarlyOut" />
    </session-factory>
</hibernate-configuration>
